html.tree-open {
  margin-left: 250px;
}
.tree-sidebar {
  width: 250px;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 1000001;
  position: fixed;
  overflow: visible;
  border-right: 1px solid rgb(221, 221, 221);
  transform: translate3d(-100%, 0px, 0px);
  transition: transform 0.2s ease;
}
.tree-open {
  transform: translate3d(0, 0px, 0px);
}
.j-tree-title {
  padding-left: 5px;
  line-height: 35px;
  overflow: hidden;
}

.tree-view {
  height: 100%;
  padding-top: 35px;
  background-color: rgb(247, 247, 247);
}

.tree-header {
  height: 35px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(243, 243, 243);
  background-image: linear-gradient(rgb(249, 249, 249), rgb(243, 243, 243));
  background-repeat: repeat-x;
  border-bottom: 1px solid rgb(229, 229, 229);
}
.tree-open .tree-toggle {
  right: 4px;
}
.tree-toggle {
  position: absolute;;
  width: 26px;
  height: 26px;
  right: -35px;
  top: 4px;
  padding: 4px !important;
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-appearance: none;
  text-align: center;
}
.tree-toggle span {
  display: inline-block;
  line-height: 1;
}
.tree-toggle > span:after {
  content: url('data:image/svg+xml;charset=UTF-8,<svg height="16" width="8" xmlns="http://www.w3.org/2000/svg"> <path d="M7.5 8L2.5 13l-1.5-1.5 3.75-3.5L1 4.5l1.5-1.5 5 5z" /></svg>');
}
.tree-open .tree-toggle > span:after {
  content: url('data:image/svg+xml;charset=UTF-8,<svg height="16" width="8" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 3l1.5 1.5-3.75 3.5 3.75 3.5-1.5 1.5L0.5 8l5-5z" /> </svg>');
}

.tree-view .icon-file {
  position: relative;
  display: inline-block;
  margin-right: 3px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
}
.tree-view li a {
  position: relative;
  font-style: normal;
  text-decoration: none;
}
.tree-view li a:hover {
  text-decoration: none;
}
.tree-view .icon-file:before {
  content: url('data:image/svg+xml;charset=UTF-8,<svg style="fill: #777" height="16" width="12" xmlns="http://www.w3.org/2000/svg"><path d="M6 5H2v-1h4v1zM2 8h7v-1H2v1z m0 2h7v-1H2v1z m0 2h7v-1H2v1z m10-7.5v9.5c0 0.55-0.45 1-1 1H1c-0.55 0-1-0.45-1-1V2c0-0.55 0.45-1 1-1h7.5l3.5 3.5z m-1 0.5L8 2H1v12h10V5z" /></svg>');
}
.tree-view ul {
  margin: 0;
  padding: 0;
}
.tree-view li.active .whole-row {
  width: 100%;
  position: absolute;
  left:0;
  height: 24px;
  background: rgb(219, 238, 255);
}
.tree-view li {
  display: block;
  margin: 0px;
  margin-left: 12px;
  padding: 0px;
  color: rgb(65, 131, 196);
  line-height: 24px;
  list-style-type: none;
  list-style-image: none;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
