<!DOCTYPE html>
<html>
<head>
    <title>Markdown Doc Creator</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>

<body class="container-fluid">

    <div id="j-save-status"></div>
    <section class="row">
        <textarea class="col-md-6 full-height" id="pad"><%= markdownContent %></textarea>
        <div class="col-md-6 full-height" id="markdown"></div>
    </section>

    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/creator.js"></script>

</body>
</html>
