html.tree-open {
  margin-left: 230px;
}
.tree-sidebar {
  width: 230px;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 1000001;
  position: fixed;
  overflow: visible;
  border-right: 1px solid rgb(221, 221, 221);
  transition: transform 0.2s ease;
}
.tree-view {
  height: 100%;
  padding-top: 49px;
  background-color: rgb(247, 247, 247);
}

.tree-toggole > span:after {
  content: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20height%3D%2216%22%20width%3D%228%…-1.5-1.5%203.75-3.5L1%204.5l1.5-1.5%205%205z%22%20%2F%3E%0A%3C%2Fsvg%3E%0A)
}
