<!DOCTYPE html>
<html class="tree-open2">
<head>
  <title>Markdown Doc Creator</title>
  <link rel="stylesheet" href="<%= env.buildJsHost %>core.build.css">
</head>

<body>
  <nav class="tree-sidebar">
    <div class="tree-header">
      <span class="j-tree-title">文件列表</span>
      <a class="j-tree-toggle tree-toggle">
          <span></span>
      </a>
    </div>
    <div class="j-tree-view tree-view">
    </div>
  </nav>
  <div id="j-menu" class="menu-wrapper">
    <span class="menu__path mr10">当前文件：<span class="weaken-color"><%= filePath %></span></span>
    <span class="mr5">
      <input type="checkbox" id="j-menu-autosave" class="mr2"/>
      <label for="j-menu-autosave">自动保存</label>
    </span>
    <button class="mr5" id="j-menu-save-btn" type="button">保存</button>
    <span id="j-save-status"></span>
    <a href="/demo" class="right-menu" target="doc-demo">Markdown常用语法</a>
  </div>
  <div class="container-fluid full-height">
    <section class="row">
        <textarea class="col-md-6 full-height" id="pad"><%= markdownContent %></textarea>
        <div class="col-md-6 full-height" id="markdown"></div>
    </section>
  </div>

  <%- include('./foot', {name: 'index'}) %>
</body>
</html>
